{% extends 'base.html' %}

{% block title %}我的收藏{% end %}


{% block content %}
{% if posts %}
<div class="d-block">
    <h3 class="text-center text-muted d-block">{{ name }}收藏的图片</h3>
</div>
<div class="row justify-content-center">
    {% for p in posts %}
    <div class="col-5 col-sm-4 col-md-3 d-inline-block text-center">
        <a href="/post/{{ p.id }}">
            <img class="img-fluid" src="{{ static_url(p.thumb_url) }}">
        </a>
        <div>
            <span><i class="fa fa-user" aria-hidden="true"></i>：{{ p.post_user.username }}</span>
            <span><a class="text-muted" href="#" name="good"><i class="fa fa-thumbs-up">{{ p.good_num }}</i></a></span>
            <span><a class="text-muted" href="#" name="like"><i class="fa fa-heart">{{ p.like_num }}</i></a></span>
        </div>
    </div>
    {% end %}
</div>
{% else %}

{% end %}

{% if current_user != name %}
<div class="d-block">
    <h3 class="text-center text-muted d-block">{{ name }}分享的图片</h3>
</div>
<div class="row justify-content-center">
    {% for p in upload_posts %}
    <div class="col-5 col-sm-4 col-md-3 d-inline-block text-center">
        <a href="/post/{{ p.id }}">
            <img class="img-fluid" src="{{ static_url(p.thumb_url) }}">
        </a>
        <div>
            <span><i class="fa fa-user" aria-hidden="true"></i>：{{ p.post_user.username }}</span>
            <span><a class="text-muted" href="#" name="good"><i class="fa fa-thumbs-up">{{ p.good_num }}</i></a></span>
            <span><a class="text-muted" href="#" name="like"><i class="fa fa-heart">{{ p.like_num }}</i></a></span>
        </div>
    </div>
    {% end %}
</div>
{% end %}


{% end %}

