{% extends 'base.html' %}

{% block title %}我的收藏{% end %}

{% block content %}
{% if posts %}
<div class="d-block">
    <h3 class="text-center text-muted d-block">{{ name }}收藏的图片</h3>
</div>
<div class="row justify-content-center">
    {% for p in posts %}
    <div class="col-5 col-sm-4 col-md-3 d-inline-block text-center">
        <a href="/post/{{ p.id }}">
            <img class="img-fluid" id="{{ p.id }}" src="{{ static_url(p.thumb_url) }}">
        </a>
        <div>
            <span><i class="fa fa-user" aria-hidden="true"></i>：{{ p.post_user.username }}</span>
            <span class="better"><i class="fa fa-thumbs-up"></i><span>{{ p.good_num }}</span></span>
            <span class="collection"><i class="fa fa-heart"></i><span>{{ p.like_num }}</span></span>
        </div>
    </div>
    {% end %}
</div>
{% else %}

{% end %}

{% if current_user != name %}
<div class="d-block">
    <h3 class="text-center text-muted d-block">{{ name }}分享的图片</h3>
</div>
<div class="row justify-content-center">
    {% for p in upload_posts %}
    <div class="col-5 col-sm-4 col-md-3 d-inline-block text-center">
        <a href="/post/{{ p.id }}">
            <img class="img-fluid" id="{{ p.id }}" src="{{ static_url(p.thumb_url) }}">
        </a>
        <div>
            <span><i class="fa fa-user" aria-hidden="true"></i>：{{ p.post_user.username }}</span>
            <span class="better"><i class="fa fa-thumbs-up"></i><span>{{ p.good_num }}</span></span>
            <span class="collection"><i class="fa fa-heart"></i><span>{{ p.like_num }}</span></span>
        </div>
    </div>
    {% end %}
</div>
{% end %}
<!--content-->
{% end %}

{% block extra_js2 %}
<script type="text/javascript" src="{{ static_url("js/gcd.js") }}"></script>
{% end %}

