{% extends 'base.html' %}

{% block title %}登录{% end %}

{% block dir %}
{% end %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-7 col-sm-6 col-md-5 col-lg-4">
        <form method="post" action="/login" enctype="multipart/form-data" class="text-center" style="margin-top: 60%">
            <h3 class="form-signin-heading">Hi!欢迎登录账户</h3>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                </span>
                </div>
                <input name="username" required="" type="text" class="form-control" placeholder="Username"
                       aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1">
                    <i class="fa fa-key" aria-hidden="true"></i>
                </span>
                </div>
                <input name="password" type="password" required="" class="form-control" placeholder="Password"
                       aria-label="Password" aria-describedby="basic-addon1">
            </div>
            <input name="next" type="hidden" value="{{ next_url }}">
            <button class="btn btn-light btn-block" data-toggle="modal" data-target="#myModal">
                <span class="text-dark">Login</span>
            </button>
            <button class="btn btn-light btn-block">还没账号，去<a href="/signup">注册</a>一个</button>
        </form>
    </div>
</div>
{% end %}

