{% extends 'base.html' %}

{% block title %}post page{% end %}

{% block content %}

<img id="{{ post.id }}" src="{{ static_url(post.image_url) }}" class="img-fluid"/>

{% if current_user != post.post_user.username %}
<p> 上传用户：<a href="/like?name={{ post.post_user.username }}">{{ post.post_user.username }}</a></p>
{% else %}
<p></p>
{% end %}

<p> 上传时间：{{ post.upload_time }} </p>
<span class="better"><i class="fa fa-thumbs-up"></i><span>{{ post.good_num }}</span></span>
<span class="collection"><i class="fa fa-heart"></i><span>{{ post.like_num }}</span></span>

{% if current_user == post.post_user.username %}
<span class="delete"><span>删除</span></span>
{% else %}
<span></span>
{% end %}

{% end %}

<script type="text/javascript">
    var img = document.querySelector('img')
    var delete_button = document.querySelector('.delete')
    var delete_url = "http://" + location.host + "/delete";
    delete_button.onclick = function () {
        let params = {id: img.id}
        $.ajax({
            type: "GET",
            url: delete_url,
            data: params,
            dataType: "json",
            success: function (data) {
                console.log(data)
                window.location.href = data.index_url
            }
        });
    }
</script>
